{% extends 'base.html' %}
{% load static %}

{% block title %}
Menu Items
{% endblock %}

{% block content %}
    <h1>Menu Items <a style="font-size: 14px; vertical-align: middle;" href="{% url 'create_menu_item' %}">Create Menu Item</a></h1>
    <div class="table-box" style="display: inline-block;">
        <table class="list">
            <tr>
                <th>Item</th>
                <th>Cost EUR</th>
                <th>Price EUR</th>
            </tr>
            {% for item in menu_items %}
                <tr>
                    <td style="width: 20%;">{{ item.name }}</td>
                    <td style="width: 15%">€ {{ item.cost|floatformat:2 }}</td>
                    <td style="width: 15%;">€ {{ item.price|floatformat:2 }}</td>
                    <td style="text-align: center;"><a href="{% url 'update_menu_item' item.pk %}">Update</a></td>
                    <td style="text-align: center;"><a href="{% url 'delete_menu_item' item.pk %}">Delete</a></td>
                    {% if item.pk in recipes %}
                        <td style="text-align: right;"><a href="{% url 'create_recipe_req' item.pk %}">Recipe</a></td>
                        <td style="text-align: center;"><a href="{% url 'create_purchase' item.pk %}">Purchase</a></td>
                    {% else %}
                        <td style="text-align: right;"><a href="{% url 'create_recipe_req' item.pk %}">Create recipe</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
        {% if messages %}
            <div class="container">
                {% for message in messages %}{{ message }}{% endfor %}
                <a href="{% url 'menu_items' %}" style="float:right; display: inline;">X</a>
            </div>
        {% endif %}
    </div>
    <div style="float: right; width: 15%; padding: 0; margin: 0 0;">
        <h3 style="padding: 0; margin: 0;">Bill</h3>
        <p style="padding: 0; margin: 0;">Bill number: <a href="">create</a></p>
        <p><i>Bill functionality in development</i></p>
    </div>
    {% block menu %}
    {% endblock %}
{% endblock %}