{% extends 'restaurantManager/menu_items.html' %}
{% load static %}

{% block title %}
Recipe Requirements
{% endblock %}

{% block menu %}
    <div class="container">
        <div style="display: inline-block; width: 100%">
            <h1 style="float: left">{{ object.menu_item }} recipe ingredients</h1>
            <a class="close" href="{% url 'menu_items' %}">x</a>
        </div>

        <div style="float:left; width: 50%">
            <table>
                <tr>
                    <th>Ingredient</th>
                    <th>Amount</th>
                    <th>Unit</th>
                </tr>
                {% for value in ingredients %}
                <tr>
                    <td>{{ value.ingredient }}</td>
                    <td>{{ value.amount }}</td>
                    <td>{{ value.unit }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <div style="float: left; width: 40%">
            {% block update %}
            {% endblock %}
        </div>
    </div>
{% endblock %}