{% extends 'restaurantManager/purchases.html' %}
{% include 'static' %}

{% block title %}
Update
{% endblock %}

{% block box %}
    <div class="container">
        <h2 style="display: inline-block">Update purchase: {{ object.menu_item}} at {{ object.time }}</h2>
        <a class="close" href="{% url 'purchases' %}">x</a>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Update" />
        </form>
    </div>
{% endblock %}